In [2]:
#Here are a set of libraries we imported to complete this assignment. 
#Feel free to use these or equivalent libraries for your implementation
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # this is used for the plot the graph 
import os
import seaborn as sns # used for plot interactive graph.
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn import metrics
from sklearn.svm import SVC  
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import confusion_matrix
import sklearn.metrics.cluster as smc
from sklearn.model_selection import KFold
import statistics
import math

from matplotlib import pyplot
import itertools

%matplotlib inline

import random 
  
random.seed(42)

In [3]:
#read in the csv
# MY_PATH = "/Users/mattiesanseverino/ucla/188/project_src/datasets/training_data_cleaned.csv"
MY_PATH = "/Users/Tanya/Documents/cs188_project/NEXT_trucking_project/datasets/training_data_cleaned.csv"
data = pd.read_csv(MY_PATH)

# Take a look at the data

In [4]:
data.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
0,0,2021-01-20,3,2021,30222,U0117613,Owner Operator,Rosas Transport,Santa Fe Springs,CA,...,4,1,253,254,0,3,3,257,2021-01-20,2021-02-17
1,1,2020-03-09,1,2020,4524,C0090405,Fleet,Daylight Transport,Long Beach,CA,...,6,0,0,0,2671,0,2671,2671,2020-03-09,2021-02-15
2,2,2020-02-14,5,2020,31164,C0097099,Fleet,First Class Transport #8,Hawthorne,CA,...,1,29,82,111,30,19,49,160,2020-02-14,2020-12-18
3,3,2019-06-10,1,2019,8859,U0097935,Owner Operator,DTELLIS TRUCKING,Long Beach,CA,...,1,25,6,31,0,1,1,32,2019-06-10,2020-02-16
4,4,2019-12-03,2,2019,18870,U0106560,Owner Operator,Z&N Transport,Los Angeles,CA,...,4,1,233,234,0,9,9,243,2019-12-03,2020-02-18

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                83414 non-null  int64
 1   dt                        83414 non-null  object
 2   weekday                   83414 non-null  int64
 3   year                      83414 non-null  int64
 4   id_driver                 83414 non-null  int64
 5   id_carrier_number         83414 non-null  object
 6   dim_carrier_type          83414 non-null  object
 7   dim_carrier_company_name  83367 non-null  object
 8   home_base_city            83369 non-null  object
 9   home_base_state           83369 non-null  object
 10  carrier_trucks            83414 non-null  object
 11  num_trucks                83344 non-null  float64
 12  interested_in_drayage     83414 non-null  object
 13  port_qualified            83414 non-null  object
 14  signup_source             83414 non-null  object
 15  ts_signup                 83414 non-null  object
 16  ts_first_approved         71142 non-null  object
 17  days_signup_to_approval   71142 non-null  float64
 18  driver_with_twic          83414 non-null  object
 19  dim_preferred_lanes       3409 non-null   object
 20  first_load_date           83414 non-null  object
 21  most_recent_load_date     83414 non-null  object
 22  load_day                  83414 non-null  object
 23  loads                     83414 non-null  int64
 24  marketplace_loads_otr     83414 non-null  int64
 25  marketplace_loads_atlas   83414 non-null  int64
 26  marketplace_loads         83414 non-null  int64
 27  brokerage_loads_otr       83414 non-null  int64
 28  brokerage_loads_atlas     83414 non-null  int64
 29  brokerage_loads           83414 non-null  int64
 30  total_loads               83414 non-null  int64
 31  date                      83414 non-null  object
 32  recent_date               83414 non-null  object
 33  median_load               83414 non-null  int64
dtypes: float64(2), int64(13), object(19)
memory usage: 21.6+ MB

In [49]:
data.describe()

,Unnamed: 0,weekday,year,id_driver,num_trucks,days_signup_to_approval,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,median_load
count,83414.000000,83414.000000,83414.000000,83414.000000,83344.000000,71142.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.0
mean,41706.500000,3.500060,2018.960870,18224.058060,22.579538,298.646201,2.075659,29.536241,71.511533,101.047774,148.027561,13.080166,161.107728,266.273371,0.0
std,24079.692014,1.687443,1.359275,11667.851627,48.816676,390.377138,2.669705,88.308416,194.548817,214.587614,415.376825,42.274194,413.197837,448.353468,0.0
min,0.000000,1.000000,2015.000000,20.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0
25%,20853.250000,2.000000,2018.000000,7890.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,37.000000,0.0
50%,41706.500000,3.000000,2019.000000,16299.000000,4.000000,61.000000,1.000000,2.000000,0.000000,13.000000,15.000000,0.000000,37.000000,110.000000,0.0
75%,62559.750000,5.000000,2020.000000,28974.000000,14.000000,497.000000,2.000000,23.000000,18.000000,94.000000,110.000000,1.000000,135.000000,325.000000,0.0
max,83413.000000,7.000000,2021.000000,38096.000000,195.000000,1653.000000,129.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,4266.000000,0.0

# Part 1: Generate labels
## drivers in the 75th percentile of ‘loads’ and the 75th percentile of ‘most_recent_load_date’ are assigned a label of 1 (indicating a high performing driver) with all others being assigned a 0 - (NOTE: your labels will likely be unbalanced.

### pre-work from Piazza that must be done

- collapse your rows by trimming any duplicative entries per-driver, and only leaving the most recent (and therefore cumulative with regards to features like loads) entry. 
- Thereby each row is it's own driver, and it more closely fits the desired model. 
- If you take this approach, it would be worth playing around with different augmentations to provide additional nuance to your data. (e.g., while you have a total count of loads, you don't have a clear indication of the distribution of those loads. Is this an older driver who was active several years ago but now works irregularly, or is this a new driver that's been very active in the last few months?) Boiling up that kind of data into your features could be incredibly powerful.

In [58]:
#for each duplicate of a driver id 'id_driver', cumulate the 'load' values for this driver 
#AND add the median load for this driver as a new column 'median_load'
augmented_data = data
augmented_data['median_load'] = 0 #initialize col of zeroes
drivers = list(set(augmented_data['id_driver'])) #get rid of duplicates
rows_to_keep = []
median_loads = []

for d in drivers:
    loads_for_driver = augmented_data.loc[augmented_data['id_driver'] == d]
    #print(loads_for_driver)
    most_recent_date = list(loads_for_driver['most_recent_load_date'])[0]
    
    loads = sum(loads_for_driver['loads'])
    median_load = statistics.median(list(loads_for_driver['loads']))
    
    #print(statistics.median(list(loads_for_driver['loads'])))
    row = loads_for_driver.loc[loads_for_driver['date'] == most_recent_date]
    #print(row)
    row['median_load'] = median_load
    #print(row)

    rows_to_keep.append(row)

In [59]:
augmented_data = augmented_data.drop_duplicates(subset=['id_driver'], keep=False)
augmented_data['median_load'] = augmented_data['loads'] #set the non-duplicated ids to have same median as total

<ipython-input-59-22461ae36044>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  augmented_data['median_load'] = augmented_data['loads'] #set the non-duplicated ids to have same median as total

In [60]:
augmented_data.append(rows_to_keep)
#augmented_data['median_load'] = median_loads

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date,median_load
10,10,2019-07-04,4,2019,22428,U0110062,Owner Operator,Golden Road Transportation,Rialto,CA,...,1,0,1,0,0,0,1,2019-07-04,2019-07-04,1.0
80,80,2018-05-02,3,2018,11185,C0092065,Fleet,G & R TRUCKING,Oak Hills,CA,...,0,0,0,1,0,1,1,2018-05-02,2018-05-02,1.0
97,97,2016-06-08,3,2016,1022,C0090183,Fleet,JP Carriers,Corona,CA,...,0,0,0,1,0,1,1,2016-06-08,2016-06-08,1.0
149,149,2016-12-07,3,2016,4144,C0090071,Fleet,J&G Transportation Group Inc,Los Angeles,CA,...,0,0,0,1,0,1,1,2016-12-07,2016-12-07,1.0
234,234,2017-01-30,1,2017,4718,C0090392,Fleet,Roadrunner Transportation,Los Angeles,CA,...,0,0,0,1,0,1,1,2017-01-30,2017-01-30,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83144,83144,2017-06-12,1,2017,6624,C0090580,Fleet,Zupa Global,Los Angeles,CA,...,0,0,0,1,0,1,1,2017-06-12,2017-06-12,1.0
83169,83169,2016-06-20,1,2016,1079,C0090173,Fleet,MOVE AHEAD TRUCKING,Buckeye,AZ,...,0,0,0,1,0,1,1,2016-06-20,2016-06-20,1.0
83213,83213,2017-10-02,1,2017,8096,C0090960,Fleet,360 new way inc,Huntington Park,CA,...,0,0,0,3,0,3,3,2017-10-02,2017-10-02,3.0
83303,83303,2018-11-06,2,2018,15561,C0090089,Fleet,MERIDIAN LOGISTICS INC,MONTEREY PARK,CA,...,1,0,1,0,0,0,1,2018-11-06,2018-11-06,1.0
83331,83331,2017-01-30,1,2017,4788,C0090392,Fleet,Roadrunner Transportation,Los Angeles,CA,...,0,0,0,1,0,1,1,2017-01-30,2017-01-30,1.0

In [46]:
# augmented_data.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date,median_load
10,10,2019-07-04,4,2019,22428,U0110062,Owner Operator,Golden Road Transportation,Rialto,CA,...,1,0,1,0,0,0,1,2019-07-04,2019-07-04,1
80,80,2018-05-02,3,2018,11185,C0092065,Fleet,G & R TRUCKING,Oak Hills,CA,...,0,0,0,1,0,1,1,2018-05-02,2018-05-02,1
97,97,2016-06-08,3,2016,1022,C0090183,Fleet,JP Carriers,Corona,CA,...,0,0,0,1,0,1,1,2016-06-08,2016-06-08,1
149,149,2016-12-07,3,2016,4144,C0090071,Fleet,J&G Transportation Group Inc,Los Angeles,CA,...,0,0,0,1,0,1,1,2016-12-07,2016-12-07,1
234,234,2017-01-30,1,2017,4718,C0090392,Fleet,Roadrunner Transportation,Los Angeles,CA,...,0,0,0,1,0,1,1,2017-01-30,2017-01-30,1

In [94]:
# compute the 75th percentile for total loads
load_percentile = augmented_data["total_loads"].quantile(0.75)

In [95]:
# convert date to date object and get the 75th percentile
augmented_data.most_recent_load_date = [pd.to_datetime(d) for d in augmented_data.most_recent_load_date]
# augmented_data.info()
date_percentile = augmented_data["most_recent_load_date"].quantile(0.75)
augmented_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1735 entries, 10 to 83331
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1735 non-null   int64
 1   dt                        1735 non-null   object
 2   weekday                   1735 non-null   int64
 3   year                      1735 non-null   int64
 4   id_driver                 1735 non-null   int64
 5   id_carrier_number         1735 non-null   object
 6   dim_carrier_type          1735 non-null   object
 7   dim_carrier_company_name  1734 non-null   object
 8   home_base_city            1730 non-null   object
 9   home_base_state           1730 non-null   object
 10  carrier_trucks            1735 non-null   object
 11  num_trucks                1703 non-null   float64
 12  interested_in_drayage     1735 non-null   object
 13  port_qualified            1735 non-null   object
 14  signup_source             1735 non-null   object
 15  ts_signup                 1735 non-null   object
 16  ts_first_approved         1218 non-null   object
 17  days_signup_to_approval   1218 non-null   float64
 18  driver_with_twic          1735 non-null   object
 19  dim_preferred_lanes       65 non-null     object
 20  first_load_date           1735 non-null   object
 21  most_recent_load_date     1735 non-null   datetime64[ns]
 22  load_day                  1735 non-null   object
 23  loads                     1735 non-null   int64
 24  marketplace_loads_otr     1735 non-null   int64
 25  marketplace_loads_atlas   1735 non-null   int64
 26  marketplace_loads         1735 non-null   int64
 27  brokerage_loads_otr       1735 non-null   int64
 28  brokerage_loads_atlas     1735 non-null   int64
 29  brokerage_loads           1735 non-null   int64
 30  total_loads               1735 non-null   int64
 31  date                      1735 non-null   object
 32  recent_date               1735 non-null   object
 33  median_load               1735 non-null   int64
 34  high_performing           1735 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(13), object(18)
memory usage: 476.1+ KB

C:\Users\Tanya\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [105]:
# create a new column and use np.where to assign values based on most_recent_load_date and total_loads
augmented_data["high_performing"] = np.where((augmented_data["most_recent_load_date"] >= date_percentile) 
                                             & (augmented_data["total_loads"] >= load_percentile), 1, 0)

# augmented_data
augmented_data["high_performing"].value_counts()

<ipython-input-105-f3d8d8e7b8b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  augmented_data["high_performing"] = np.where((augmented_data["most_recent_load_date"] >= date_percentile)

0    1299
1     436
Name: high_performing, dtype: int64